<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predição de Modelo ML</title>
</head>
<body>
    <h2>Predição de Modelo ML</h2>
    <form action="/predict" method="post">
        <label for="age">Idade:</label>
        <input type="text" id="age" name="age"><br><br>

        <label for="job">Profissão:</label>
        <input type="text" id="job" name="job"><br><br>

        <label for="marital">Estado Civil:</label>
        <input type="text" id="marital" name="marital"><br><br>

        <label for="education">Educação:</label>
        <input type="text" id="education" name="education"><br><br>

        <label for="default">Inadimplente:</label>
        <input type="text" id="default" name="default"><br><br>

        <label for="balance">Saldo:</label>
        <input type="text" id="balance" name="balance"><br><br>

        <label for="housing">Empréstimo Habitacional:</label>
        <input type="text" id="housing" name="housing"><br><br>

        <label for="loan">Empréstimo Pessoal:</label>
        <input type="text" id="loan" name="loan"><br><br>

        <label for="contact">Contato:</label>
        <input type="text" id="contact" name="contact"><br><br>

        <label for="day">Dia:</label>
        <input type="text" id="day" name="day"><br><br>

        <label for="month">Mês:</label>
        <input type="text" id="month" name="month"><br><br>

        <label for="duration">Duração:</label>
        <input type="text" id="duration" name="duration"><br><br>

        <label for="campaign">Campanha:</label>
        <input type="text" id="campaign" name="campaign"><br><br>

        <label for="pdays">Dias Anteriores:</label>
        <input type="text" id="pdays" name="pdays"><br><br>

        <label for="previous">Anteriores:</label>
        <input type="text" id="previous" name="previous"><br><br>

        <label for="poutcome">Resultado Anterior:</label>
        <input type="text" id="poutcome" name="poutcome"><br><br>

        <input type="submit" value="Prever">
    </form>
</body>
</html>
