<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predição de Modelo ML</title>
</head>
<body>
    <h2>Predição de Modelo ML</h2>
    <form action="/predict" method="post">
        <label for="age">Idade:</label>
        <input type="text" id="age" name="age"><br><br>

        <label for="balance">Saldo:</label>
        <input type="text" id="balance" name="balance"><br><br>

        <label for="duration">Duração:</label>
        <input type="text" id="duration" name="duration"><br><br>

        <label for="campaign">Campanha:</label>
        <input type="text" id="campaign" name="campaign"><br><br>

        <label for="pdays">Dias Anteriores:</label>
        <input type="text" id="pdays" name="pdays"><br><br>

        <label for="previous">Anteriores:</label>
        <input type="text" id="previous" name="previous"><br><br>

        <input type="submit" value="Prever">
    </form>
</body>
</html>
